body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.tabela{
	position:relative;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
	float:left;
	width:100%;
}

.opcoes{
	 width: 500;
}

.sem-atracao{
	text-align: center;
}
.mais-atrativo{
	color:green;
	text-align: center;
}

.menos-atrativo{
	color:red;
	text-align: center;
}

.resultado{
	font-weight: bold;
	background-color: #E0E0E0;
	text-align: center;
}

.comparar{
	text-align: center;
}

.cabecalho{
	padding-bottom:9px;
	margin:40px 0 20px;
	border-bottom:1px solid #eee;
}

.botao-exp{
	text-shadow:0 1px 0 #fff;
	background-image:-webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image:-o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
	background-image:linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat:repeat-x;
	border-color:#dbdbdb;
	border-color:#ccc;
}